body{
    background-color: black;
}
.circle
{
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius:  100px;
    border: rgb(241, 239, 241)   solid;
    border-width: 5px;
    position: absolute;
    box-shadow: 0 0 16px #bad424, inset 0 0 16px #b8d126;
    animation-name: op;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;


}
@keyframes op{
    0%{box-shadow: 0 0 8px #f8f8f7, inset 0 0 8px #fcfcfc}
    25%{box-shadow: 0 0 32px #f3f0f0, inset 0 0 8px #eeecec}
    50%{box-shadow: 0 0 8px #f2f3ef, inset 0 0 8px #f4f5f1}
    100%{box-shadow: 0 0 32px #f0ecec, inset 0 0 8px #e9e4e4}

 
}
